Repository goharbor/harbor-cluster-operator, pull requests merged in 2020-06, with the labels that each got.

#77 fix crd api group
  config/crd/patches/cainjection_in_harborclusters.yaml
  config/crd/patches/webhook_in_harborclusters.yaml
Labels: bug

#49 add harbor provision implement.
  controllers/harbor/doc.go
  controllers/harbor/harbor.go
  controllers/harbor/provision.go
  controllers/harborcluster_controller.go
  controllers/image/harbor_v1.10.0.go
  controllers/image/image.go
  controllers/labels.go
  controllers/service.go
  controllers/storage/provision.go
  go.mod
  go.sum
  lcm/lcm.go
  lcm/property.go
Labels: area/controller, area/harbor, release/0.5

#78 fix cycle import.
  controllers/harbor/provision.go
  controllers/k8s/labels.go
Labels: bug

#81 refactor Controller interface.
  api/v1/zz_generated.deepcopy.go
  controllers/cache/generate.go
  controllers/cache/provision.go
  controllers/cache/readiness.go
  controllers/cache/redis.go
  controllers/database/postgresql.go
  controllers/harbor/harbor.go
  controllers/harborcluster_controller.go
  controllers/storage/minio.go
  go.mod
  go.sum
  lcm/lcm.go
Labels: area/controller

#82 minio scale implement
  api/v1/harborcluster_types.go
  controllers/storage/constants.go
  controllers/storage/delete.go
  controllers/storage/minio.go
  controllers/storage/provision.go
  controllers/storage/scale.go
  controllers/storage/update.go
Labels: area/dep-minio

#72 add database provision
  config/samples/incluster.yaml
  controllers/cache/readiness.go
  controllers/database/api/postgresql_type.go
  controllers/database/client.go
  controllers/database/constants.go
  controllers/database/generate.go
  controllers/database/postgresql.go
  controllers/database/provision.go
  controllers/database/readiness.go
  controllers/database/utils.go
  controllers/harborcluster_controller.go
  controllers/service.go
  go.mod
  go.sum
  lcm/property.go
Labels: area/dep-postgresql

#79 harbor scale handler implements
  controllers/cache/readiness.go
  controllers/cache/redis.go
  controllers/database/constants.go
  controllers/database/postgresql.go
  controllers/database/utils.go
  controllers/harbor/harbor.go
  controllers/harbor/provision.go
  controllers/harbor/scale.go
  controllers/harborcluster_controller.go
  controllers/service.go
  controllers/storage/constants.go
  go.mod
  main.go
Labels: area/controller, area/harbor

#85 add database update handler Implements
  controllers/database/constants.go
  controllers/database/postgresql.go
  controllers/database/provision.go
  controllers/database/readiness.go
  controllers/database/update.go
Labels: area/dep-postgresql

#83 add cache scale and update
  controllers/cache/constants.go
  controllers/cache/generate.go
  controllers/cache/labels.go
  controllers/cache/provision.go
  controllers/cache/readiness.go
  controllers/cache/redis.go
  controllers/cache/update.go
  controllers/cache/utils.go
  controllers/service.go
Labels: area/dep-redis

#91 fix(cache) support external redis which need password
  controllers/cache/client.go
  controllers/cache/constants.go
  controllers/cache/readiness.go
  controllers/cache/utils.go
Labels: bug
