Repository goharbor/harbor-cluster-operator, pull requests merged in 2020-05, with the labels that each got.

#58 Update cr_HarborCluster_spec.md
  docs/cr_HarborCluster_spec.md
Labels: P1, documentation

#59 update group to `cluster.goharbor.io`.
  PROJECT
  api/v1/groupversion_info.go
  config/crd/kustomization.yaml
  config/rbac/harborcluster_editor_role.yaml
  config/rbac/harborcluster_viewer_role.yaml
  config/samples/goharbor_v1_harborcluster.yaml
  controllers/harborcluster_controller.go
Labels: area/harbor, area/k8s-cluster, bug

#43 add wrap client
  controllers/cache/redis.go
  controllers/k8s/client.go
  controllers/k8s/dynamic.go
Labels: area/controller

#62 fix resource definition
  api/v1/harborcluster_types.go
  docs/cr_HarborCluster_spec.md
Labels: area/CRD, area/spec, release/0.5

#63 update RedisReconciler struct
  controllers/cache/redis.go
Labels: area/dep-redis

#67 Remove args of Provision method
  controllers/cache/redis.go
  controllers/database/postgresql.go
  controllers/harbor/harbor.go
  lcm/lcm.go
Labels: enhancement

#68 Update ServiceGetter interface.
  api/v1/harborcluster_types.go
  api/v1/zz_generated.deepcopy.go
  controllers/harborcluster_controller.go
  controllers/service.go
Labels: enhancement

#70 Feature/add notary component
  api/v1/harborcluster_types.go
  api/v1/zz_generated.deepcopy.go
  docs/cr_HarborCluster_spec.md
Labels: P1, area/CRD, documentation
